<footer class="bg-black text-light pt-5 pb-3 mt-5">
  <div class="container">
    <div class="row">
      <!-- Logo & Description -->
      <div class="col-md-4 mb-4 text-center text-md-start">
        <h5 class="text-uppercase">MovieQ</h5>
        <p>Your go-to platform for the best movies, anytime, anywhere.</p>
      </div>

      <!-- Quick Links -->
      <div class="col-md-4 mb-4 text-center text-md-start">
        <h5 class="text-uppercase">Quick Links</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-light text-decoration-none">Home</a></li>
          <li>
            <a href="#" class="text-light text-decoration-none">Browse</a>
          </li>
          <li>
            <a href="#" class="text-light text-decoration-none">Top Rated</a>
          </li>
          <li>
            <a href="#" class="text-light text-decoration-none">My List</a>
          </li>
        </ul>
      </div>

      <!-- Social Media -->
      <div class="col-md-4 mb-4 text-center text-md-start">
        <h5 class="text-uppercase">Follow Us</h5>
        <div
          class="d-flex justify-content-center justify-content-md-start gap-3"
        >
          <a href="#" class="text-light fs-4"
            ><i class="fab fa-facebook-f"></i
          ></a>
          <a href="#" class="text-light fs-4"><i class="fab fa-twitter"></i></a>
          <a href="#" class="text-light fs-4"
            ><i class="fab fa-instagram"></i
          ></a>
          <a href="#" class="text-light fs-4"><i class="fab fa-youtube"></i></a>
        </div>
      </div>
    </div>

    <hr class="border-light" />
    <div class="text-center">
      <small>&copy; 2025 MovieQ. All rights reserved.</small>
    </div>
  </div>
</footer>
