<div class="bg-black min-vh-100">
  <div class="container py-5 text-white">
    <h2 class="mb-4">My Favourites</h2>

    <div *ngIf="favorites$ | async as favorites">
      <div *ngIf="favorites.length > 0; else noFavorites">
        <div class="row g-4">
          <div class="col-6 col-md-4 col-lg-3" *ngFor="let fav of favorites">
            <div class="card bg-black text-white h-100 position-relative">
              <img
                class="card-img-top"
                [src]="'https://image.tmdb.org/t/p/w185' + fav.poster_path"
                alt="{{ fav.title }}"
              />
              <div class="card-body text-center">
                <h5 class="card-title">{{ fav.title }}</h5>
                <button
                  class="remove-btn btn-sm mt-2"
                  (click)="removeFavorite(fav.docId)"
                >
                  Remove
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <ng-template #noFavorites>
        <p>No favourites yet.</p>
      </ng-template>
    </div>
  </div>
</div>
