<div id="carouselExampleIndicators" class="carousel slide">
  <div class="carousel-indicators">
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="1"
      aria-label="Slide 2"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="2"
      aria-label="Slide 3"
    ></button>
  </div>

  <div class="carousel-inner">
    <div class="carousel-item active">
      <!-- Wrapper for image and overlay -->
      <div class="image-wrapper">
        <img
          src="/assets/movie1.webp"
          class="d-block w-100 carousel-img"
          alt="..."
        />
        <div class="dark-overlay"></div>
      </div>
      <div class="carousel-caption-custom">
        Your go-to platform for the best movies, anytime, anywhere.
      </div>
    </div>

    <div class="carousel-item">
      <div class="image-wrapper">
        <img
          src="/assets/movie4.webp"
          class="d-block w-100 carousel-img"
          alt="..."
        />
        <div class="dark-overlay"></div>
      </div>
      <div class="carousel-caption-custom">
        Your go-to platform for the best movies, anytime, anywhere.
      </div>
    </div>

    <div class="carousel-item">
      <div class="image-wrapper">
        <img
          src="/assets/movie3.webp"
          class="d-block w-100 carousel-img"
          alt="..."
        />
        <div class="dark-overlay"></div>
      </div>
      <div class="carousel-caption-custom">
        Your go-to platform for the best movies, anytime, anywhere.
      </div>
    </div>
  </div>
</div>
