

 .movie-card {
  background-color: #000;
  color: #fff;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  transition: transform 0.3s ease;
}

.movie-card:hover {
  transform: scale(1.02);
}

.movie-poster {
  overflow: hidden;
  position: relative;
}

.movie-poster img {
  width: 100%;
  height: auto;
  border-radius: 10px 10px 0 0;
  transition: transform 0.4s ease;
  display: block;
}

.movie-card:hover .movie-poster img {
  transform: scale(1.05);
}

.movie-info {
  padding: 10px 15px;
  background-color: #000;
  z-index: 1;
  position: relative;
}

.movie-title {
  font-size: 0.95rem;
  font-weight: 600;
  margin-bottom: 6px;
  text-align: center;
}

.movie-meta {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
}

.badge-custom {
  background-color: #e50914;
  color: white;
  border-radius: 4px;
  font-size: 0.75rem;
  padding: 3px 6px;
  display: inline-flex;
  align-items: center;
  gap: 4px;
}

.badge-custom i {
  font-size: 0.85rem;
}

@media (max-width: 576px) {
  .movie-title {
    font-size: 0.8rem;
  }

  .badge-custom {
    font-size: 0.65rem;
    padding: 2px 5px;
  }
}

a{
  text-decoration: none;
}
